<app-innercard [titulo]="title" [estiloCard]="{'margin-right': '2em',}">
    <div class="homeDetalhes">
        @if(showSearch) {
        <div>
            <mat-form-field style="width: 100%;">
                <input matInput [formControl]="searchControl" [placeholder]="searchPlaceholder" />
                @if(searchControl.value){
                <button matSuffix mat-icon-button aria-label="Limpar" (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
        </div>
        }
        @if(loading) {
        <div class="divSpinner">
            <mat-spinner diameter="30" />
        </div>
        } @else if (data.content.length > 0) {
        <mat-list role="list">
            @for (item of data.content; track $index) {
            <mat-list-item style="cursor: pointer;" (click)="onItemClick(item)" role="listitem">
                {{ getItemLabel(item) }}
                @if (secondaryItemLabelKey) {
                - {{ getSecondaryItemLabel(item) }}
                }
            </mat-list-item>
            }
        </mat-list>

        <mat-paginator class="mat-elevation-z5" [length]="data.totalElements" [pageIndex]="data.number"
            [pageSize]="pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
            showFirstLastButtons />
        } @else {
        <div>
            <h4 style="width: 100%; text-align: center;">Nenhum resultado encontrado.</h4>
        </div>
        }
    </div>
</app-innercard>