<app-innercard titulo="Manter Cliente" [estiloCardTitulo]="{'padding': '1em',}">

  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>description</mat-icon>
          Dados
        </ng-template>

        <app-innercard class="cardInner">
          <section class="containerLinha">
              <mat-form-field appearance="outline">
                <mat-label>Contratante...</mat-label>
                <input #srvInput matInput type="text" formControlName="cliente" [matAutocomplete]="clienteAutoComplete"
                  (input)="srvTextSubject.next(srvInput.value)" />
              </mat-form-field>

              <!-- Autocomplete -->
              <mat-autocomplete #clienteAutoComplete="matAutocomplete" requireSelection autoActiveFirstOption
                [displayWith]="displayCliente">
                <mat-option *ngIf="srvLoading()">
                  <mat-spinner diameter="30" />
                </mat-option>

                <mat-option *ngIf="!clientes().content && !srvLoading()">
                  Nenhum registro encontrado
                </mat-option>

                <ng-container *ngIf="!srvLoading()">
                  <mat-option *ngFor="let item of clientes().content" [value]="item">
                    {{ item?.nome }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>

            <mat-form-field appearance="outline">
              <mat-label>Data do contrato</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataContrato">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if(form.controls['dataContrato'].hasError('required')){
              <mat-error>
                A data de nascimento é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input #srvInput matInput type="text" formControlName="cidade" [matAutocomplete]="cidadeAutoComplete"
                (input)="srvCidadeSubject.next(srvInput.value)" />
            </mat-form-field>

            <!-- Autocomplete -->
            <mat-autocomplete #cidadeAutoComplete="matAutocomplete" requireSelection autoActiveFirstOption
              [displayWith]="displayFnCidade">
              <mat-option *ngIf="srvCidadeLoading()">
                <mat-spinner diameter="30" />
              </mat-option>

              <mat-option *ngIf="!cidades().content && !srvCidadeLoading()">
                Nenhum registro encontrado
              </mat-option>

              <ng-container *ngIf="!srvCidadeLoading()">
                <mat-option *ngFor="let item of cidades().content" [value]="item">
                  {{ item?.descricao }} - {{ item?.estado }}
                </mat-option>
              </ng-container>
            </mat-autocomplete>

          </section>

          <section class="container">
            <button mat-raised-button color="secondary" type="button" routerLink="/cliente">Voltar</button>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
          </section>
        </app-innercard>
      </mat-tab>

      @if(contrato()?.id){
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>call</mat-icon>
          Contatos
        </ng-template>
        <!-- <app-cliente-contato [cliente]="cliente()"></app-cliente-contato> -->

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>family_restroom</mat-icon>
          Dependentes
        </ng-template>
        <!-- <app-cliente-dependente [cliente]="cliente()"></app-cliente-dependente> -->
      </mat-tab>
      }
    </mat-tab-group>
  </form>

</app-innercard>