<!-- Toolbar -->
<app-toolbar [menu]="authService.menu()" />

<!-- <button class="nav-tool-items" mat-mini-fab (click)="sidenav.toggle()" aria-label="Abrir e fechar menu">
  <mat-icon>menu</mat-icon>
</button> -->

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="over()" [opened]="opened()" [fixedInViewport]="true" fixedTopGap="64">
    @if(authService.menu() && authService.menu.length > 0){
    <mat-nav-list>
      <mat-list-item *ngFor="let item of authService.menu()" [routerLink]="item.router">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.name }}
      </mat-list-item>
    </mat-nav-list>
    }
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <!-- em seu app.component.html -->
    @if(authService.isImpersonatedSession()) {

    <app-innercard titulo="Sessão de suporte Ativado" [estiloCard]="{'margin-bottom': '1em',}" [estiloCardTitulo]="{'padding': '1em',}">
      <div class="containerBtnSessaoSuporte">
        <div>
          Você está em uma sessão de suporte.
        </div>
        <button mat-raised-button color="primary" (click)="endImpersonation()">Encerrar Sessão</button>
      </div>
    </app-innercard>
    }

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>