.cardInner {
  padding: 1rem;
}

.container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.containerLinha {
  display: flex;
  justify-content: start
}

mat-form-field {
  margin: 0 0.5rem;
  width: 23%;
}

.mat-form-field-custom {
  width: 47.5%;
}

/* No seu arquivo comp.scss */

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px dashed #ccc;
  border-radius: 8px;
}

.logo-preview-box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden; /* Garante que a imagem não saia da borda */
}

.logo-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Redimensiona a imagem para caber no contêiner */
}

.upload-icon {
  font-size: 48px;
  color: #aaa;
}