<app-innercard [titulo]="data.title" [estiloCardTitulo]="{'padding': '1em',}">
    <form [formGroup]="form" (submit)="onSubmit()">
        <section>
            <!-- contratante -->
            <mat-form-field appearance="outline">
                <mat-label>Aluno</mat-label>
                <input #srvInput matInput type="text" formControlName="aluno" [matAutocomplete]="alunoAutoComplete"
                    (input)="srvTextSubject.next(srvInput.value)" />
                @if(form.controls['aluno'].hasError('required') && (form.controls['aluno'].touched ||
                form.controls['aluno'].dirty)){
                <mat-error> Aluno é <strong>obrigatório</strong> </mat-error>
                }
            </mat-form-field>

            <!-- (optionSelected)="onItemSelected($event)" -->
            <mat-autocomplete #alunoAutoComplete="matAutocomplete" requireSelection autoActiveFirstOption
                [displayWith]="displayItem" > <mat-option *ngIf="srvLoading()">
                    <mat-spinner diameter="30" />
                </mat-option>

                <mat-option *ngIf="itemsToDisplay().content.length ===0 && !srvLoading()">
                    Nenhum registro encontrado
                </mat-option>

                <ng-container *ngIf="!srvLoading()">
                    <mat-option *ngFor="let item of itemsToDisplay().content" [value]="item">
                        <div [innerHTML]="item.displayHtml"></div>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
            <button mat-raised-button color="primary" cdkFocusInitial type="button" (click)="novoAlunoModal()">
                Novo Aluno
            </button>
        </section>
        <mat-divider></mat-divider>

        <app-buttons-row style="margin-bottom: 4px;   display: flex;  justify-content: end;">
            <button mat-button mat-dialog-close (click)="onDismiss()" type="button">
                Cancelar
            </button>
            <button mat-raised-button color="primary" cdkFocusInitial type="submit">
                Confirmar
            </button>
        </app-buttons-row>
    </form>
</app-innercard>