@use '../../../../../scss/settings/palette';
@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

.details-container {
    display: flex;
    gap: 1rem;
}

.section-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.containerHeader {
    display: flex;
    justify-content: space-evenly;
}

.mat-icon-48 {
  font-size: 48px; /* Ou o tamanho que você preferir */
  width: 48px;
  height: 48px;
}