<app-modalcard (fechar)="onDismiss()"  [titulo]="data.title" [estiloCardTitulo]="{'padding': '1em',}">
  <section style="margin-bottom: 16px;">
    @if(safeMessageHtml){
    <div [innerHTML]="safeMessageHtml"></div>
    }
  </section>

  <mat-divider></mat-divider>

  <app-buttons-row style="margin-bottom: 4px;   display: flex;  justify-content: end;">
    <button mat-button mat-dialog-close (click)="onDismiss()" type="button">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onConfirm()" cdkFocusInitial type="button">
      Confirmar
    </button>
  </app-buttons-row>

</app-modalcard>