.lista {
  
}

.containerControles {  
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.cursorSelect{
  cursor: pointer;
}


mat-form-field {
  margin: 0 0.5rem;
  width: 65%;
}
