.divContainer {
  // margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.cardPaginatList {
  width: 33%;
}

.sectionResumo {
  display: flex;
  gap: 8px;
  /* Adicionado um espaço entre os divs para melhor visualização */
}