<app-card titulo="Inicial" [estiloCardTitulo]="{'padding': '1em',}">

  <section class="divContainer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

    <!-- <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" (click)="getOutoContrato()">Outros contratos</button> -->

  </section>
  @if(isUsuarioTemPapel()){

  <section class="sectionResumo">
    <div>
      <app-financeiro-resumo-grafico />
    </div>
    <div style="flex-grow: 1;">
      <app-financeiro-resumo-tabela />
    </div>
  </section>
  }
</app-card>