<app-innercard titulo="Turmas" [estiloCardTitulo]="{'padding': '1em',}">
  <form [formGroup]="form" (submit)="onSubmit()">

    <section class="containerLinha">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="nome" formControlName="nome">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['nome'].hasError('required') && (form.controls['nome'].touched ||
        form.controls['nome'].dirty)){
        <mat-error>
          O nome é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="codigo" formControlName="codigo">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['codigo'].hasError('required') && (form.controls['codigo'].touched ||
        form.controls['codigo'].dirty)){
        <mat-error>
          O código é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <!-- curso -->
      <mat-form-field appearance="outline">
        <mat-label>Curso</mat-label>
        <input #srvInput matInput type="text" formControlName="curso" [matAutocomplete]="clienteAutoComplete"
          (input)="srvTextSubject.next(srvInput.value)" />
        @if(form.controls['curso'].hasError('required') && (form.controls['curso'].touched ||
        form.controls['curso'].dirty)){
        <mat-error> Curso é <strong>obrigatório</strong> </mat-error>
        }
      </mat-form-field>

      <!-- Autocomplete -->
      <mat-autocomplete #clienteAutoComplete="matAutocomplete" requireSelection autoActiveFirstOption
        [displayWith]="displayCurso">
        <mat-option *ngIf="srvLoading()">
          <mat-spinner diameter="30" />
        </mat-option>

        <mat-option *ngIf="!cursos().content && !srvLoading()">
          Nenhum registro encontrado
        </mat-option>

        <ng-container *ngIf="!srvLoading()">
          <mat-option *ngFor="let item of cursos().content" [value]="item">
            {{ item?.nome }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <!-- final contratante -->

    </section>

    <section>
      <mat-form-field appearance="outline">
        <mat-label>Período</mat-label>
        <input matInput placeholder="anoPeriodo" formControlName="anoPeriodo">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['anoPeriodo'].hasError('required') && (form.controls['anoPeriodo'].touched ||
        form.controls['anoPeriodo'].dirty)){
        <mat-error>
          O período é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Professor(a)</mat-label>
        <input matInput placeholder="professor" formControlName="professor">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['professor'].hasError('required') && (form.controls['professor'].touched ||
        form.controls['professor'].dirty)){
        <mat-error>
          Professor(a) é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status turma</mat-label>
        <mat-select formControlName="status">
          @for (item of statusTurma; track item) {
          <mat-option [value]="item">{{statusTurmaLabelMapping[item]}}</mat-option>
          }
        </mat-select>
        @if(form.controls['status'].hasError('required') && (form.controls['status'].touched ||
        form.controls['status'].dirty)){
        <mat-error>
          O status do turma é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="outline">
        <mat-label>Hora início</mat-label>
        <input matInput [matTimepicker]="pickerInicio" formControlName="horarioInicio" placeholder="Hora Inicio">
        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio" />
        <mat-timepicker #pickerInicio />
        @if(form.controls['horarioInicio'].hasError('required') && (form.controls['horarioInicio'].touched ||
        form.controls['horarioInicio'].dirty)){
        <mat-error>
          O horário inicial é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora Fim</mat-label>
        <input matInput [matTimepicker]="pickerFim" formControlName="horarioFim" placeholder="Hora Fim">
        <mat-timepicker-toggle matIconSuffix [for]="pickerFim" />
        <mat-timepicker #pickerFim />
        @if(form.controls['horarioFim'].hasError('required') && (form.controls['horarioFim'].touched ||
        form.controls['horarioFim'].dirty)){
        <mat-error>
          O horário fim é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dias da semana</mat-label>
        <mat-select formControlName="diasDaSemana" multiple>
          @for (item of diasSemana; track item) {
          <mat-option [value]="item">{{diasSemanaLabelMapping[item]}}</mat-option>
          }
        </mat-select>
        @if(form.controls['diasDaSemana'].hasError('required') && (form.controls['diasDaSemana'].touched ||
        form.controls['diasDaSemana'].dirty)){
        <mat-error>
          Pelo menos um perfil é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

    </section>

    <section>
      <mat-form-field appearance="outline">
        <mat-label>Capacidade máxima</mat-label>
        <input matInput placeholder="capacidadeMaxima" formControlName="capacidadeMaxima">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['capacidadeMaxima'].hasError('required') && (form.controls['capacidadeMaxima'].touched ||
        form.controls['capacidadeMaxima'].dirty)){
        <mat-error>
          A capacidade máxina é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>
    </section>

    <section class="container">
      <button mat-raised-button color="secondary" type="button" routerLink="/turma">Voltar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
    </section>

  </form>

</app-innercard>