.botoes {
  display: flex;
  justify-content: flex-end;
}

.cursorSelect {
  cursor: pointer;
}

.containerContatos {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

mat-form-field {
  margin: 0 0.5rem;
  width: 23%;
}

.mat-form-field-custom {
  width: 47.5%;
}

section {
  display: flex;
  align-items: flex-start;
}