@use '../../../../scss/settings/palette';
@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

.details-container {
    display: flex;
    gap: 1rem;
}

.section-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}