<!--
  Componente Angular para a tela de gestão de usuários.
  Permite cadastrar e editar informações de um usuário.
  Utiliza Angular Material para os componentes de UI e Reactive Forms para o gerenciamento do formulário.
-->
<app-innercard titulo="Manter Usuário" [estiloCardTitulo]="{'padding': '1em'}">

  <!-- Formulário reativo para os dados do usuário -->
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon> <!-- Ícone para dados do usuário -->
          Dados do Usuário
        </ng-template>

        <app-innercard class="cardInner">
          <!-- Seção para informações básicas do usuário (Username, Senha, Nome, Sobrenome) -->
          <section class="containerLinha">
            <mat-form-field appearance="outline">
              <mat-label>Nome de Usuário</mat-label>
              <input id="usernameInput" matInput placeholder="username" formControlName="username">
              <!-- Validação de campo obrigatório -->
              @if(form.controls['username'].hasError('required')){
              <mat-error>
                O nome de usuário é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="password" placeholder="********">
              @if(form.controls['password'].hasError('required')){
              <mat-error>
                A senha é <strong>obrigatória</strong>
              </mat-error>
              }
            </mat-form-field> -->

            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input id="firstnameInput" matInput placeholder="Nome" formControlName="firstname">
              <!-- Validação de campo obrigatório -->
              @if(form.controls['firstname'].hasError('required')){
              <mat-error>
                O nome é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input id="lastnameInput" matInput placeholder="Sobrenome" formControlName="lastname">
              <!-- Validação de campo obrigatório -->
              @if(form.controls['lastname'].hasError('required')){
              <mat-error>
                O sobrenome é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input id="emailInput" matInput formControlName="email" type="email" placeholder="email@exemplo.com">
              <!-- Validação de formato de e-mail -->
              @if (form.controls['email'].hasError('email') && form.controls['email'].dirty) {
              <mat-error>Entre com um e-mail válido</mat-error>
              }
            </mat-form-field>
          </section>

          <!-- Seção para E-mail, Status e Roles -->
          <section class="containerLinha">


            <mat-form-field appearance="outline">
              <mat-label>Perfis (Roles)</mat-label>
              <!--
                mat-select com multiple para permitir múltiplas roles.
                O `roles` no TS deve ser um array de strings (Role enum).
              -->
              <mat-select formControlName="roles" multiple>
                @for (role of allRoles; track role) {
                <mat-option [value]="role">{{role}}</mat-option>
                }
              </mat-select>
              @if(form.controls['roles'].hasError('required')){
              <mat-error>
                Pelo menos um perfil é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <!-- Campo para selecionar a Empresa (com autocomplete) -->
            <mat-form-field appearance="outline" class="mat-form-field-full-width">
              <mat-label>Empresa</mat-label>
              <input #empresaInput matInput type="text" formControlName="empresa"
                [matAutocomplete]="empresaAutoComplete" (input)="empresaTextSubject.next(empresaInput.value)" />
              <!-- Validação de campo obrigatório -->
              @if(form.controls['empresa'].hasError('required')){
              <mat-error>
                A empresa é <strong>obrigatória</strong>
              </mat-error>
              }
            </mat-form-field>

            <!-- Autocomplete para Empresa -->
            <mat-autocomplete #empresaAutoComplete="matAutocomplete" requireSelection autoActiveFirstOption
              [displayWith]="displayFnEmpresa">
              <mat-option *ngIf="empresaLoading()">
                <mat-spinner diameter="30" />
              </mat-option>

              <mat-option *ngIf="!empresas()?.content?.length && !empresaLoading()">
                Nenhuma empresa encontrada
              </mat-option>

              <ng-container *ngIf="!empresaLoading()">
                <mat-option *ngFor="let item of empresas().content" [value]="item">
                  {{ item?.nomeFantasia }}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </section>

          <!-- Seção para o status Habilitado -->
          <section class="containerLinha">
            <mat-checkbox formControlName="enabled">Usuário Habilitado</mat-checkbox>
          </section>

          <!-- Seção para botões de ação -->
          <section class="container">
            <button mat-raised-button color="secondary" type="button" routerLink="/usuario">Voltar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
          </section>
        </app-innercard>
      </mat-tab>
    </mat-tab-group>
  </form>

</app-innercard>