<app-innercard titulo="Turmas" [estiloCardTitulo]="{'padding': '1em',}">
  <form [formGroup]="form" (submit)="onSubmit()">

    <section class="containerLinha">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="nome" formControlName="nome">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['nome'].hasError('required') && (form.controls['nome'].touched ||
        form.controls['nome'].dirty)){
        <mat-error>
          O nome é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="codigo" formControlName="codigo">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['codigo'].hasError('required') && (form.controls['codigo'].touched ||
        form.controls['codigo'].dirty)){
        <mat-error>
          O código é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Capacidade máxima</mat-label>
        <input matInput placeholder="capacidadeMaxima" formControlName="capacidadeMaxima">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['capacidadeMaxima'].hasError('required') && (form.controls['capacidadeMaxima'].touched ||
        form.controls['capacidadeMaxima'].dirty)){
        <mat-error>
          A capacidade máxina é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="outline">
        <mat-label>Período</mat-label>
        <input matInput placeholder="anoPeriodo" formControlName="anoPeriodo">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['anoPeriodo'].hasError('required') && (form.controls['anoPeriodo'].touched ||
        form.controls['anoPeriodo'].dirty)){
        <mat-error>
          O período é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Professor(a)</mat-label>
        <input matInput placeholder="professor" formControlName="professor">
        <!-- Validação de campo obrigatório -->
        @if(form.controls['professor'].hasError('required') && (form.controls['professor'].touched ||
        form.controls['professor'].dirty)){
        <mat-error>
          Professor(a) é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status turma</mat-label>
        <mat-select formControlName="status">
          @for (item of statusTurma; track item) {
          <mat-option [value]="item">{{statusTurmaLabelMapping[item]}}</mat-option>
          }
        </mat-select>
        @if(form.controls['status'].hasError('required') && (form.controls['status'].touched ||
        form.controls['status'].dirty)){
        <mat-error>
          O status do turma é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="outline">
        <mat-label>Hora início</mat-label>
        <input matInput [matTimepicker]="pickerInicio" formControlName="horarioInicio" placeholder="Hora Inicio">
        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio" />
        <mat-timepicker #pickerInicio />
        @if(form.controls['horarioInicio'].hasError('required') && (form.controls['horarioInicio'].touched ||
        form.controls['horarioInicio'].dirty)){
        <mat-error>
          O horário inicial é <strong>obrigatório</strong>
        </mat-error>
        }
      </mat-form-field>
    </section>

    <section class="container">
      @if(this.form.get('id')?.value !== null){
      <button mat-raised-button color="secondary" type="button" (click)="novo()">Novo</button>
      }
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
    </section>

  </form>
  <!-- <mat-divider style="margin-top: 8px; margin-bottom: 8px;"></mat-divider> -->

  <app-innercard titulo="Lista de turmas" [estiloCardTitulo]="{'padding': '1em',}" [estiloCard]="{'margin-top': '1em'}">
    <section class="containerControles">
      <mat-form-field appearance="outline">
        <mat-label>Filtrar por nome descrição e categoria </mat-label>
        <input matInput [formControl]="ctrlFiltro" placeholder="nome descrição e categoria"
          (keydown.enter)="buscar()" />
        <button *ngIf="ctrlFiltro.value" matSuffix mat-icon-button aria-label="Filtro" (click)="limparEbuscar()">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="ctrlFiltro.value" matSuffix mat-icon-button aria-label="Filtro" (click)="buscar()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

    </section>
    @if(!turmas().empty){
    <section class="lista">
      <table mat-table [dataSource]="turmas().content" matSort (matSortChange)="sortData($event)"
        class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="codigo"> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="nome"> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome | primeiraMaiuscula}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="curso"> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.curso.nome | primeiraMaiuscula}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="anoPeriodo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="anoPeriodo"> Periodo </th>
          <td mat-cell *matCellDef="let element"> {{element.anoPeriodo}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="professor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="professor"> Professor(a) </th>
          <td mat-cell *matCellDef="let element"> {{element.professor}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status </th>
          <td mat-cell *matCellDef="let element"> {{getStatusTurma(element.status)}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" class="cursorSelect">
            <a matTooltip="Editar dados" aria-hidden="false" (click)="preEditar(element)">
              <mat-icon color="primary">edit</mat-icon>
            </a>
            <a matTooltip="Remover" aria-hidden="false" (click)="confirmarExclusao(element)">
              <mat-icon color="primary">delete</mat-icon>
            </a>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="mat-elevation-z5" [length]="turmas().totalElements" [pageIndex]="turmas().number"
        [pageSize]="pageSize" (page)="page.set({ page: $event.pageIndex, size: $event.pageSize }); buscar()"
        [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons />
    </section>
    } @else {
    <span>Nenhum registro cadastrado</span>
    }
  </app-innercard>

</app-innercard>