@use '../../../../scss/settings/palette';
@use '@angular/material' as mat;
@include mat.core();

.card {
  margin-bottom: 1px;
  max-width: 100%;
  //background-color: #FAFAFA;
  background-color: white;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card__titulo {
  padding: 0.6em;
  background-color: mat.m2-get-color-from-palette(palette.$primarias, 50);
  color: mat.m2-get-color-from-palette(palette.$primarias, 700);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card__conteudo {
  padding: 1em;
}
