<app-innercard titulo="Manter Contrato" [estiloCardTitulo]="{'padding': '1em',}">

  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>description</mat-icon>
          Dados
        </ng-template>

        <app-innercard class="cardInner">
          <section class="containerLinha">
            <mat-form-field appearance="outline">
              <mat-label>Contratante</mat-label>
              <input id="nomeInput" matInput placeholder="Contratante" formControlName="nome">
              @if(form.controls['nome'].hasError('required')){
              <mat-error id="requiredEmailError">
                O nome é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Data do contrato</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if(form.controls['dataNascimento'].hasError('required')){
              <mat-error>
                A data de nascimento é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Naturalidade</mat-label>
              <input type="text" matInput formControlName="estado" [matAutocomplete]="autoEstado">
              <mat-autocomplete #autoEstado="matAutocomplete" [displayWith]="displayFnEstado"
                (optionSelected)="onEstadoChange($event.option.value)">
                @for (option of filteredEstadosOptions | async ; track option) {
                <mat-option [value]="option">{{option.descricao}}</mat-option>
                }
              </mat-autocomplete>
              @if (form.get('estado')?.hasError('required')) {
              <mat-error>Estado é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input type="text" matInput formControlName="cidade" [matAutocomplete]="autoCidade">
              <mat-autocomplete #autoCidade="matAutocomplete" [displayWith]="displayFnCidade">
                @for (option of filteredCidadesOptions | async ; track option) {
                <mat-option [value]="option">{{option.descricao}}</mat-option>
                }
              </mat-autocomplete>
              @if (form.get('cidade')?.hasError('required')) {
              <mat-error>Cidade é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>

          </section>

          <section class="containerLinha">
            <mat-form-field appearance="outline">
              <mat-label>RG</mat-label>
              <input type="text" matInput formControlName="docRG" name="docRG">
              @if (form.get('docRG')?.hasError('required')) {
              <mat-error>CPF é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input type="text" matInput formControlName="docCPF" name="docCPF" mask="000.000.000-00">
              @if (form.get('docCPF')?.hasError('required')) {
              <mat-error>CPF é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input id="emailInput" matInput formControlName="email" type="email">
              @if (form.controls['email'].hasError('email') &&
              !form.controls['email'].hasError('required')) {
              <mat-error>Entre com um e-mail válido</mat-error>
              }
              @if(form.controls['email'].hasError('required')){
              <mat-error> E-mail é <strong>obrigatório</strong> </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Profissão</mat-label>
              <input id="profisaInput" matInput formControlName="profissao" type="text">
            </mat-form-field>

          </section>


          <section class="container">
            <button mat-raised-button color="secondary" type="button" routerLink="/cliente">Voltar</button>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
          </section>
        </app-innercard>
      </mat-tab>

      @if(cliente()?.id){
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>call</mat-icon>
          Contatos
        </ng-template>
        <app-cliente-contato [cliente]="cliente()"></app-cliente-contato>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>family_restroom</mat-icon>
          Dependentes
        </ng-template>
        <app-cliente-dependente [cliente]="cliente()"></app-cliente-dependente>
      </mat-tab>
      }
    </mat-tab-group>
  </form>

</app-innercard>